<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Blogs</title>
</head>
<body>

{% if request.user.username %}
    <h1 style="color: blue;">Welcome {{ request.user.username }}</h1>
    <a href="/users/logout">Logout</a>
{% endif %}

<ol>
    {% for blog in blogs %}
        <li>
            <h1 style="color: darkolivegreen">{{ blog.title }}</h1>
            <p style="color: darkgreen">{{ blog.body }}</p>
            {% for tag in blog.tags.all %}
                {{ tag.name }}
            {% endfor  %}
            <p style="color: crimson">Blog written by: {{ blog.owner.username }}</p>
        </li>

    {% endfor %}
</ol>


<form method="POST">
    {% csrf_token %}
    {{ form }}

    <button type="submit">Submit</button>
</form>


</body>
</html>